# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/

# Gradle
.gradle/
build/

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear
*.nar

# Archives
*.zip
*.tar
*.tar.gz
*.rar

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# JVM crash logs
hs_err_pid*
replay_pid*

# OS files
.DS_Store
Thumbs.db